

<div class="categdespesas index">
      <h2>Vendas </h2>
    <%= form_tag vendas_path( format:"html"), :method => 'get' do %>  
      <div class="row">
            <div class="col-lg-5  form-group">  
                <%= text_field_tag :nome, params[:nome], :class => 'form-control', :placeholder=>"Digite o nome da venda" %>  
              </div>
              <div class="col-lg-2 form-group">
                <%= submit_tag "Pesquisar", :class => "btn btn-primary colorprimarybtn" %>
              </div>

           <div class="col-lg-2 form-group">  
                  <span class="input-group-btn" style="display: inline-block;"><button class="btn btn-primary colorprimarybtn" type="button" onclick="javascript: location.href='<%= new_venda_path %>';"><i class="fa fa-plus-circle"></i> Nova Venda</button></span>
            </div>
        </div>
      </div>
      <%end%>
    </div>
<div class="table-responsive">
<table class="table table-hover table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
    <th>Data</th>
    <th>Cpf</th>
    <th>Total</th>
    <th>Tipopagamento</th>
    <th>Cliente</th>
    <th colspan="4"></th>
  </tr>
</thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.data_venda %></td>
        <td><%= venda.cpf %></td>
        <td><%= venda.total %></td>
        <td><%= venda.tipoPagamento %></td>
        <td><%= venda.cliente_id %></td>
        <td><%= link_to 'visualizar', venda %></td>
        <td><%= link_to 'Editar', edit_venda_path(venda) %></td>
        <td><%= link_to 'Excluir', venda, method: :delete, data: { confirm: 'deseja excluir esse registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





